body {
  background: #fff;
  margin: 0;
  font-size: 16px;
  font-family: "Public Sans", "Arial";
  color: #444;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

.container {
  max-width: 1080px;
  margin:0 auto;
}

.row {
  display: flex;
  flex: 12;
}

.col {
  display: flex;
  padding: 1em;
  flex-flow: column;
}

.main {
  flex: 8;
}

.header {
  flex: 4;
  position: relative;
}

.header h1 {
  text-align: right;
}

.menu ul {
  list-style-type: none;
  text-align: right;
}

.menu ul li {
  padding: 5px;
}

.menu ul li a {
  color: #888;
  text-decoration: none;
  transition: .25s ease-out;
}

.menu ul li a:hover,
.menu ul li a:active {
  color: #000;
}

.foot {
  width: 100%;
  text-align: center;
  border-top: 1px solid #eee;
}
